* {
    box-sizing: border-box;
}

body {
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

button, input {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #fff;
}

h1, h2, h3, p {
    margin: 0px;
}

h3 {
    color: #202846;
    font-size: 48px;
}

button {
    height: 68px;
    width: 245px;
    border: transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0px;
}

header, .dark {
    background-color: #202846;
}

.light {
    background-color: #C6C6DC;
}

.booking-card {
    background-color: #BDBDC6;
}

::placeholder {
    color: rgba(0, 0, 0, 61);
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 11vw;
    margin-top: 50px;
}

footer {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 115px;
    color: #fff;
    margin-top: 50px;
}

.page-title {
    display: flex;
    background-color: #C6C6DC;
    height: 140px;
    align-items: center;
    padding-left: 15%;
}

/*Header*/

header{
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list > a{
    border-right: 1px solid #fff;
    padding: 27px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.localisation-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding: 0px 27px;
}

#language-select{
    width: 36px;
    height: 36px;
    border: transparent;
    color: #fff;
}

/*Main-page first-block*/

.adv-block {
    background-image: url("resources/main-view.svg");
    background-size: cover;
    background-position: center;
    height: 370px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-align: center;
}

/*Main-page second-block*/

.second-block {
    background-image: url("resources/house-outside.svg");
    background-size: cover;
    background-position: center;
    height: 604px;
    width: 100%;
    z-index: -1;
    position: relative;
}

#right-arrow {
    position: absolute;
    top: 40%;
    right: 32px;
    height: 101px;
    width: 51px;
}

.side-info-block {
    background-color: rgba(255, 255, 255, 80%);
    align-items: center;
    justify-content: center;
    height: 167px;
    width: 80%;
    position: absolute;
    bottom: 0px;
    padding: 20px 0px 26px;
    font: PT Sans;
}

.side-info-block p {
    font-size: 24px;
}

#side-info-btn {
    position: absolute;
    top: -20%;
    right: 0px;
}

/*Main-page third-block*/

.third-block {
    background-color: #C1C1C3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 412px;
    padding: 0px 3.6vw;
    gap: 18px;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EAEAEB;
    height: 349px;
    text-align: center;
    width: 50%;
}

/*Feedback*/

.feedback-form {
    display: flex;
    justify-content: center;
    height: 481px;
}

.feedback-form .input-part{
    width: 518px;
    display: flex;
    flex-direction: column;
    padding: 21px 55px 36px 55px;
    background-color: #F2EEEE;
    gap: 16px;    
}

.feedback-form input {
    height: 62px;
    font-size: 20px;
    color: gray;
    border-color: gray;
}

.feedback-form button {
    width: 100%; 
    height: 104px;
    background-color: #444765;
    color: #fff;
    font-size: 36px;
}

.feedback-form label {
    font-size: 30px;
}

/*Сontacts*/

.contacts-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 11vw;
    column-gap:15%;
    row-gap: 52px;
}

.contact {
    width: fit-content;
}

.contact .info {
    text-align: center;
}

.map iframe {
    border-radius: 40px;
    height: 335px;
    width: 30vw;
}


/*About-us*/

#about-us {
    background-image: url("resources/about-us-view.svg");
    background-size: cover;
    background-position: center;
    padding: 5%;
    height: 227px;
}

.text-block {
    background-color: #CBCBCB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 74px;
    height: 380px;
    font-size: 30px;
}

/*Personal-page*/

.personal-block {
    background-color: #BDBDC6;
    display: flex;
    flex-direction: row;
    height: 500px;
}

.personal-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding: 0px 140px;
}

.personal-buttons {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    color: #353C57;
}